:root {
  --card-bg-color: #f2f2ed;
}

header {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  animation: fadeInAnimation ease 2.5s;
  animation-iteration-count: 1;
}

.card p {
  font-weight: lighter;
  font-style: italic;
}

.card {
  position: relative;
  bottom: 40px;
  font-size: 2rem;
  width: 60%;
  border-radius: 15px;
  height: 60%;
  border: 1px solid #d4d4c9;
  background-color: var(--card-bg-color);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
}
